/* Import font */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

/* Set body styles */

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #053166;
}


/* Navbar Styling */

.img-thumbnail {
    background-color: transparent;
    border: none;
}

#navbar-container {
    background-color: #053166;
}

.navbar {
    padding: .8rem;
}

.navbar-brand img {
    height: 4rem;
}

.navbar-nav li {
    padding-right: 1.1rem;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
    border-bottom: .1rem solid #2763AA;
}

#social-nav .nav-link:hover {
    border: none;
}


/* Button styling */

.btn {
    font-weight: 500;
    border-width: medium;
}


/* Footer */

.footer {
    background: #053166;
    color: yellow;
}

.footer h4 {
    text-align: center;
}

.footer p {
    text-align: center;
}


/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up) */

@media (max-width: 400px) {
    .parallax-container h1 {
        font-size: 5vh;
        color: #053166;
        padding-top: 10vh;
        text-align: center;
        line-height: normal;
    }
    #coaching-school {
        padding-top: 2vh;
    }
    #brand-text {
        font-size: 1rem;
        font-weight: 500;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 1024px and up) */

@media (min-width: 1024px) {
    .paral h1 {
        font-size: 8vh;
        color: #053166;
        padding: 10vh;
        text-align: center;
        line-height: normal;
    }
}

@media (max-width: 1024px) {
    .nav-link {
        font-size: 1rem;
        font-weight: 500;
    }
    #social-nav {
        display: none;
    }
}


/* Extra large devices (large desktops, 1200px and up) */


/*   @media (min-width: 1200px) {}